.content-area-top {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 30px;
  .area-top-title {
    color: var(--text-color-inverted);
    margin-bottom: 16px;
  }

  .area-top-l {
    display: flex;
    align-items: center;
    gap: 6px;

    .sidebar-open-btn {
      display: inline-flex;
    }
  }

  .filters-wrapper {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: flex-end;
    border-radius: 8px;
    background-color: var(--secondary-color);
    padding: 16px 16px 16px 16px;
    border-radius: 5px;
    box-shadow: var(--light-shadow1);

    @media (max-width: 768px) {
      padding: 12px;
    }

    .filter-container {
      display: grid;
      column-gap: 22px;
      grid-template-columns: auto auto auto;
    }

    .filter {
      display: flex;
      flex-direction: column;
      gap: 8px;
      
      input {
        width: 230px;
        height: 36px;
        padding: 0 10px;
        font-size: 13px;
        border-radius: 4px;
        outline: none;
        color: var(--base-text-color);
        // background-color: var(--light-color);
      }

      .input-label {
        font-weight: 500;
        color: var(--base-text-color);
      }

      .date-input,
      .text-input {
        width: 300px;
        height: 36px;
        padding: 0 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
        // background-color: var(--light-color);

        &:focus {
          border-color: var(--primary-color);
        }

        &::placeholder {
          color: #bbb;
        }
      }
    }
  }

  .input-lable {
    color: var(--base-text-color);
  }

  .load-btn {
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    align-self: last baseline;
    margin-bottom: 1px;
  }

  ::placeholder {
    color: var(--base-text-color);
    opacity: 0.5;
    font-size: 14px;
  }

  // react-date-range plugin theme customization
  .date-range-wrapper {
    display: inline-block;
    box-shadow: var(--text-color-inverted);

    .rdrDateDisplay {
      margin: 0;
      height: 40px;
      display: flex;
      align-items: center;
      margin-bottom: -1px;
      color: var(--text-color-inverted);

      @media (max-width: 768px) {
        display: inline-flex;
      }
    }

    .area-top-title {
      color: var(--text-color-inverted);
    }
  }

  .filters-wrapper {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: flex-end;
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    background-color: #fff;

    .filter {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .input-label {
        font-weight: 500;
        color: var(--base-text-color);
      }

      .date-input,
      .text-input {
        width: 200px;
        height: 36px;
        padding: 0 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;

        &:focus {
          border-color: var(--primary-color);
        }

        &::placeholder {
          color: #bbb;
        }
      }
    }

    .load-btn {
      padding: 8px 20px;
      border-radius: 4px;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      background-color: var(--primary-color);
      border: none;
      cursor: pointer;
      align-self: center;

      &:hover {
        background-color: #0056b3; // Adjust this color to your preference
      }
    }
  }
}
