.content-area-top {
  // display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 30px;
  .area-top-title {
    color: var(--text-color-inverted);
    margin-bottom: 16px;
  }

  .area-top-l {
    display: flex;
    align-items: center;
    column-gap: 6px;
  }

  .sidebar-open-btn {
    display: inline-flex;
    align-items: center;
    display: none;
    margin-bottom: -1px;
    color: var(--text-color-inverted);

    @media (max-width: 768px) {
      display: inline-flex;
    }
  }

  .filters-wrapper {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: flex-end;
    border-radius: 8px;
    background-color: var(--secondary-color);
    padding: 16px 16px 16px 16px;
    border-radius: 5px;
    box-shadow: var(--light-shadow1);

    @media (max-width: 768px) {
      padding: 12px;
    }

    .filter-container {
      display: grid;
      column-gap: 22px;
      grid-template-columns: auto auto auto;
    }

    .filter {
      display: flex;
      flex-direction: column;
      gap: 8px;

      input {
        width: 130px;
        height: 36px;
        padding: 0 10px;
        font-size: 13px;
        border-radius: 4px;
        outline: none;
        color: var(--base-text-color);
        // background-color: var(--light-color);
      }

      .input-label {
        font-weight: 500;
        color: var(--base-text-color);
      }

      .date-input,
      .text-input {
        width: 200px;
        height: 36px;
        padding: 0 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
        // background-color: var(--light-color);

        &:focus {
          border-color: var(--primary-color);
        }

        &::placeholder {
          color: #bbb;
        }
      }
    }
  }

  .input-lable {
    color: var(--base-text-color);
  }

  .load-btn {
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    align-self: last baseline;
    margin-bottom: 1px;
  }

  ::placeholder {
    color: var(--base-text-color);
    opacity: 0.5;
    font-size: 14px;
  }

  // react-date-range plugin theme customization
  .date-range-wrapper {
    display: inline-block;
    box-shadow: var(--text-color-inverted);

    .rdrDateDisplay {
      margin: 0;
      height: 40px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      overflow: hidden;
    }

    .rdrDateRangeWrapper {
      position: relative;
    }

    .rdrMonthAndYearWrapper {
      position: absolute;
      top: 100%;
      width: 100%;
      background-color: var(--light-color);
      padding-top: 0;
      height: 40px;
      z-index: 1;
    }

    .rdrMonth {
      padding: 0;
      z-index: 1;
    }

    .rdrWeekDays {
      position: absolute;
      top: calc(100% + 40px);
      left: 0;
      width: 100%;
      background-color: var(--light-color);
      height: 32px;
      z-index: 1;
    }

    .rdrDays {
      position: absolute;
      top: calc(100% + 40px + 32px);
      left: 0;
      width: 100%;
      background-color: var(--light-color);
      z-index: 1;
    }

    &.hide-date-range {
      .rdrMonthAndYearWrapper {
        display: none;
      }
      .rdrMonth {
        padding: 0;
      }
      .rdrWeekDays,
      .rdrDays {
        display: none;
      }
    }

    .rdrDateDisplayWrapper {
      background-color: var(--secondary-color);
      border-color: var(--secondary-color);
      outline: var(--secondary-color);
      * {
        background-color: var(--secondary-color);
        border-color: var(--secondary-color);
        outline: var(--secondary-color);
        box-shadow: none;
        color: var(--base-text-color);
      }
    }
  }
}
